.admin-navbar-main {
    height: 10vh;
    width: 100%;
    background-color: #1e3a8a; /* deep blue */
    display: flex;
    align-items: center;
    padding: 0 40px;
    justify-content: space-evenly;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}
.admin-navbar-main button{
    background-color: transparent;
    border: none;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    padding: 8px 18px;
    color: #fff;
    border-radius: 6px;
    transition: background 0.2s, color 0.2s;
} 
.admin-navbar-main button:hover{
        background: #2563eb;
    color: #ffe082;
}

.admin-navbar-main p{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    padding: 8px 18px;
    border-radius: 6px;
    transition: background 0.2s, color 0.2s;
}

.admin-navbar-main p:hover {
    background: #2563eb;
    color: #ffe082;
}